@model School_Core.ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    var data = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data);
    var labels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Labels);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="chart-container">

    <canvas id="myChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>


<script>
    ctx = document.getElementById('myChart');
    
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: @Html.Raw(labels),
            datasets: [{
                data: @Html.Raw(data),
                backgroundColor: 
                [
                    '#0CAE75',
                    '#F11135'
                ]
            }]
        },
        options: {
            cutoutPercentage: 50
        }
    });
</script>