@model School_Core.ViewModels.Students.StudentMedicalViewModel

<h1>@Model.StudentName</h1>

<div class="container">
    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                <tr>
                    <th>Reason</th>
                    <th>Active</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var medical in Model.Medicals)
                {
                    <tr>
                        <td>
                            @medical.Reason
                        </td>
                        <td>
                            @medical.Active
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" asp-controller="Student" asp-action="EditMedicalReason">Edit Reason</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" asp-controller="Student" asp-action="MarkMedicalNotActive">Mark As Not Active</a>
                        </td>

                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-md-6">
        <form asp-action="AddMedical" method="post">
        <div style="margin-top:20px" class="form-group">
            <input asp-for="PostDto.StudentId" type="hidden">

            <label asp-for="PostDto.Reason"></label>
            <input asp-for="PostDto.Reason" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary form-control" >Add New Medical</button>
        </div>
        </form>
    </div>
</div>